
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../public/stylesheets/normalize.css">
  <link rel="stylesheet" href="../stylesheets/skeleton.css">
  <link rel="stylesheet" href="../stylesheets/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

<script>
  $(document).ready(function() {

  });
</script>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  <div class="row">
    <div class="nine columns" style="margin-top: 25%">
      <h1>Polytone</h1>
      <!--<p>We simply love building amazing experiences for the web.</p> -->
      <h3>We bring apps and web experiences to life.</h3>
      <p>At Polytone, we use some of the most cutting-edge technologies to hand-craft amazing projects and turn your ideas into living and breathing products.</p>
    </div>
  </div>
  <div class="row">
    <div id="nav" class="nine columns">
      <ul id="navlist">
        <li><a href="#development">Development</a></li>
        <li><a href="#design">Design</a></li>
        <li><a href="#consulting">Consulting</a></li>
        <li><a href="#start">Start a Project</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div id="development">

  </div>
</div>
<div class="row">
  <div id="design">

  </div>
</div>

<div class="row">
  <div id="consulting">

  </div>
</div>
<div class="row">
  <div id="start">

  </div>
</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
