<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Polytone | Web and App Development</title>
  <meta name="description" content="At Polytone, we use some of the most cutting-edge technologies to hand-craft amazing projects and turn your ideas into living and breathing products.">
  <meta name="author" content="Polytone">
  <meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript, Node.js, MongoDB, App Development, Software, Consulting">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../javascripts/behaviors.js"></script>

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../stylesheets/normalize.css">
  <link rel="stylesheet" href="../stylesheets/skeleton.css">
  <link rel="stylesheet" href="../stylesheets/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

<!-- GREETING -->

<div class="row">
  <div id="hello">
    <div class="container">
      <div id="greeting" class="nine columns">
        <h1 id="header">Polytone</h1>
        <!--<p>We simply love building amazing experiences for the web.</p> -->
        <h3 id="tagline">We bring apps and web experiences to life.</h3>
        <p>At Polytone, we use some of the most cutting-edge technologies to hand-craft amazing projects and turn your ideas into living and breathing products.</p>
      </div>
      <div id="nav" class="nine columns">
        <ul id="navlist">
          <li><a href="#development" id="developmentNav">Development</a></li>
          <li><a href="#design" id="designNav">Design</a></li>
          <li><a href="#consulting" id="consultingNav">Consulting</a></li>
          <li><a href="#start" id="startNav">Start a Project</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- DEVELOPMENT -->

<div class="row">
  <div id="development">
    <div class="container">
      <div class="row">
        <center>
          <h4 id="devRowHeader">We use the best tools and technologies around.</h4>
        </center>
      </div>
      <div class="row">
        <div id="devRow1">

          <!-- NODE.JS -->
          <div id="nodejs" class="six columns rowItem">
            <div class="itemLogo">
              <img src="../images/node.png" class="itemLogoImg">
            </div>
            <p><strong>We use Node.js to build blisteringly fast application backends that are capable of delivering data in real-time.</strong>
              Nothing will give your customers a more impressive experience than seeing your app living and breathing as they use it.
              From real-time Twitter feeds to chat apps, if you bring the idea, we can use Node.js to make it a reality.</p>
          </div>

          <!-- MONGODB -->
          <div id="mongodb" class="six columns rowItem">
            <div class="itemLogo">
              <img src="../images/mongo.png" class="itemLogoImg">
            </div>
            <p><strong>Gone are the days when managing a database had to be difficult.</strong> MongoDB gives you the flexibility to change the way you store and retrieve data with minimal impact, while maintaining the same level of security that you expect.
              Combined with its incredible speed, Mongo makes housing data an absolute breeze.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="devRow2">

          <!-- SOA -->
          <div id="soa" class="six columns rowItem">
            <div class="itemLogo">
              <img src="../images/soa.png" class="itemLogoImg">
            </div>
            <p><strong>Why worry about building your app multiple times for different platforms?</strong> By using service-oriented architecture, we ensure that any device in the world that can talk to the internet is able talk to your app.
            From smartphones to tablets to digital billboards to smartwatches, we make sure that your product is consumable by any modern device on the web.</p>
          </div>

          <!-- SCALABLE -->
          <div id="scalable" class="six columns rowItem">
            <div class="itemLogo">
              <img src="../images/aws.png" class="itemLogoImg">
            </div>
            <p><strong>Spend your time growing your product, not worrying about downtime.</strong> We use the most reliable cloud hosting platforms in the industry to ensure your product can handle incredible amounts of traffic.
              With platforms like AWS and Heroku, you can disrupt your industry without disrupting your uptime.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- DESIGN -->

<div class="row">
  <div id="design">
    <div class="container">

    </div>
  </div>
</div>


<!-- CONSULTING -->

<div class="row">
  <div id="consulting">
    <div class="container">

    </div>
  </div>
</div>


<!-- START -->

<div class="row">
  <div id="start">
    <div class="container">

    </div>
  </div>
</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
