<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Polytone | Web and App Development</title>
  <meta name="description" content="At Polytone, we use some of the most cutting-edge technologies to hand-craft amazing projects and turn your ideas into living and breathing products.">
  <meta name="author" content="Polytone">
  <meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript, Node.js, MongoDB, App Development, Software, Consulting">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../javascripts/behaviors.js"></script>

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../stylesheets/normalize.css">
  <link rel="stylesheet" href="../stylesheets/skeleton.css">
  <link rel="stylesheet" href="../stylesheets/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--<div class="container"> -->
<div class="row">
  <div id="hello">
    <div class="container">
      <div id="greeting" class="nine columns">
        <h1 id="header">Polytone</h1>
        <!--<p>We simply love building amazing experiences for the web.</p> -->
        <h3 id="tagline">We bring apps and web experiences to life.</h3>
        <p>At Polytone, we use some of the most cutting-edge technologies to hand-craft amazing projects and turn your ideas into living and breathing products.</p>
      </div>
      <div id="nav" class="nine columns">
        <ul id="navlist">
          <li><a href="#development" id="developmentNav">Development</a></li>
          <li><a href="#design" id="designNav">Design</a></li>
          <li><a href="#consulting" id="consultingNav">Consulting</a></li>
          <li><a href="#start" id="startNav">Start a Project</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="development">
    <div class="container">
      <div class="row">
        <center>
          <h4 id="devRowHeader">We use the best tools and technologies around.</h4>
        </center>
      </div>
      <div class="row">
        <div id="devRow1">
          <div id="nodejs" class="six columns rowItem">
            <div class="itemLogo">
              <img src="../images/node.png" class="itemLogoImg">
            </div>
            Mustache slow-carb 90's biodiesel 8-bit. Craft beer PBR YOLO, post-ironic Tumblr selvage tote bag 8-bit farm-to-table XOXO. Bespoke mustache Odd Future normcore selfies PBR&B. VHS pour-over cornhole asymmetrical, bespoke sartorial pork belly fingerstache narwhal. Bitters typewriter Neutra Tumblr food truck. Polaroid lo-fi gastropub, biodiesel beard drinking vinegar hashtag synth.</div>
          <div id="mongodb" class="six columns rowItem">
            <div class="itemLogo">
              <img src="../images/mongo.png" class="itemLogoImg">
            </div>
            Mustache slow-carb 90's biodiesel 8-bit. Craft beer PBR YOLO, post-ironic Tumblr selvage tote bag 8-bit farm-to-table XOXO. Bespoke mustache Odd Future normcore selfies PBR&B. VHS pour-over cornhole asymmetrical, bespoke sartorial pork belly fingerstache narwhal. Bitters typewriter Neutra Tumblr food truck. Polaroid lo-fi gastropub, biodiesel beard drinking vinegar hashtag synth.</div>
        </div>
      </div>
      <div class="row">
        <div id="devRow2">
          <div id="soa" class="six columns rowItem">
            <div class="itemLogo">
              <img src="../images/aws.png" class="itemLogoImg">
            </div>
            Mustache slow-carb 90's biodiesel 8-bit. Craft beer PBR YOLO, post-ironic Tumblr selvage tote bag 8-bit farm-to-table XOXO. Bespoke mustache Odd Future normcore selfies PBR&B. VHS pour-over cornhole asymmetrical, bespoke sartorial pork belly fingerstache narwhal. Bitters typewriter Neutra Tumblr food truck. Polaroid lo-fi gastropub, biodiesel beard drinking vinegar hashtag synth..</div>
          <div id="scalable" class="six columns rowItem">
            <div class="itemLogo">
              <img src="../images/aws.png" class="itemLogoImg">
            </div>
            Mustache slow-carb 90's biodiesel 8-bit. Craft beer PBR YOLO, post-ironic Tumblr selvage tote bag 8-bit farm-to-table XOXO. Bespoke mustache Odd Future normcore selfies PBR&B. VHS pour-over cornhole asymmetrical, bespoke sartorial pork belly fingerstache narwhal. Bitters typewriter Neutra Tumblr food truck. Polaroid lo-fi gastropub, biodiesel beard drinking vinegar hashtag synth.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="design">
    <div class="container">

    </div>
  </div>
</div>

<div class="row">
  <div id="consulting">
    <div class="container">

    </div>
  </div>
</div>
<div class="row">
  <div id="start">
    <div class="container">

    </div>
  </div>
</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
